body {
  background-color: #333333;
}

.BotonRojo {
  background-color: red;
  color: white;
  border: 2px black solid;
  position: fixed;
  width: 98%;
  height: 40%;
  top: 10px;
  left: 10px;
  font-family: Arial;
  font-size: 300px;
}

.BotonAzul {
  background-color: blue;
  color: white;
  border: 2px black solid;
  position: fixed;
  width: 98%;
  height: 40%;
  bottom: 10px;
  left: 10px;
  font-family: Arial;
  font-size: 300px;
}

.AtrasAzul {
  background-color: blue;
  color: white;
  border: 2px black solid;
  position: fixed;
  width: 32%;
  height: 18%;
  top: 41%;
  left: 67%;
  font-family: Arial;
  font-size: 200px;
}

.AtrasRojo {
  background-color: red;
  color: white;
  border: 2px black solid;
  position: fixed;
  width: 32%;
  height: 18%;
  top: 41%;
  left: 10px;
  font-family: Arial;
  font-size: 200px;
}

.SaqueAlterno {
  background-color: yellow;
  color: black;
  border: 2px black solid;
  position: fixed;
  width: 32%;
  height: 18%;
  top: 41%;
  left: 34%;
  font-family: Arial;
  font-size: 200px;
}
